/*общие стили*/

@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  src: local('Cuprum Regular'), local('Cuprum-Regular'), local('cuprum'),
       url('fonts/web/cuprum.woff2') format('woff2'),
       url('fonts/web/cuprum.woff') format('woff');
}

@font-face {
  font-family: 'Cuprum';
  font-style: italic;
  font-weight: 400;
  src: local('Cuprum Italic'), local('Cuprum-Italic'), local('cuprumitalic'),
       url('fonts/web/cuprumitalic.woff2') format('woff2'),
       url('fonts/web/cuprumitalic.woff') format('woff');
}

@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 700;
  src: local('Cuprum Bold'), local('Cuprum-Bold'), local('cuprumbold'),
       url('fonts/web/cuprumbold.woff2') format('woff2'),
       url('fonts/web/cuprumbold.woff') format('woff');
}

@font-face {
  font-family: 'Cuprum';
  font-style: italic;
  font-weight: 700;
  src: local('Cuprum Bold Italic'), local('Cuprum-BoldItalic'), local('cuprumbolditalic'),
       url('fonts/web/cuprumbolditalic.woff2') format('woff2'),
       url('fonts/web/cuprumbolditalic.woff') format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans'), local('ptsans'),
       url('fonts/web/ptsans.woff2') format('woff2'),
       url('fonts/web/ptsans.woff') format('woff');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), local('ptsansbold'),
       url('fonts/web/ptsansbold.woff2') format('woff2'),
       url('fonts/web/ptsansbold.woff') format('woff');
}

html {
    box-sizing: border-box;
    font-family: 'Cuprum', Arial, Helvetica, sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.clearfix::after {
    display: block;
    content: "";
    clear: both;
}

body {
    margin: 0;
    background-color: #ffffff;
    background-position: center top;

}

.container {
    width: 940px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px; width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    width: 195px;
    height: 38px;
    border: none;
    border-radius: 3px;
    padding: 11px 0 0 0;
    background-color: #ee3643;
    color: #ffffff;
    font-family: 'Cuprum', Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 18px;
}

.btn:hover {
    background-color: #ca2c37;
}

.btn:active {
    background-color: #ba2732;
}

button.btn {
    padding: 0;
}

h2 {
    display: inline-block;
    font-size: 30px;
    line-height: 24px;
    font-weight: normal;
    text-transform: uppercase;
}

p {
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
}


.new::after {
    content: 'new';
    position: absolute;
    display: inline-block;
    width: 84px;
    height: 27px;
    top: 7px;
    right: -22px;
    background-color: #ee3643;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    font-weight: normal;
    padding-top: 4px;
    transform: rotate(45deg);
    z-index: 30;
    pointer-events: none;
}


/* хедер страницы */

.main-header {
    min-width: 940px;
    background-color: #f1f5f7;
    color: #ffffff;
    font-size: 17px;
}

.user-topmenu {
    background-color: #293449;
}

.user-topmenu > * {
    font-size: 0;
}

.user-topmenu > * > * {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 17px;
    color: #ffffff;
    height: 42px;
}

.logo {
    width: 23.4%;
    background-color: #ee3643;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: normal;
    padding-top: 10px;
    margin: 0;
    box-shadow: 0 5px #b52933;
}

.logo:focus {
    background-color: #ca2c37;
    box-shadow: 0 5px #9a212a;
}

.logo:hover {
    background-color: #ca2c37;
    box-shadow: 0 5px #9a212a;
}

.logo:active {
    background-color: #ba2732;
    box-shadow: 0 5px #8e1e26;
}

.user-topmenu form {
  position: relative;
    width: 28.72%;
}

.user-topmenu .icon-search {
    position: relative;
}

.user-topmenu .icon-search::before {
    content: '';
    position: absolute;
    top: 11px;
    left: 17px;
    width: 17px;
    height: 17px;
    background-image: url(img/header/icon-search.png);
    background-repeat: no-repeat;
    background-position: -5px -5px;
    opacity: .3;
}

form:hover > .icon-search::before {
    opacity: 1;
}

#search {
    background: #293449;
    width: 100%;
    border: none;
    padding: 10px 10px 12px 48px;
}

#search:hover {
    background-color: #212a3a;
}

#search:focus {
    background-color: #ffffff;
}

#search:focus + .icon-search::before {
    background-position: -32px -5px;
    opacity: 1;
}

::-webkit-input-placeholder {
    font-family: 'Cuprum', Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 17px;
}
::-moz-placeholder {
    font-family: 'Cuprum', Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 17px;
}
:-moz-placeholder {
    font-family: 'Cuprum', Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 17px;
}
:-ms-input-placeholder {
    font-family: 'Cuprum', Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 17px;
}

.user-topmenu form input:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.user-link {
    position: relative;
    width: 15.96%;
    font-size: 17px;
    line-height: 18px;
    padding-top: 11px;
}

.user-link:hover {
    background-color: #212a3a;
}

.user-link:hover::before {
    opacity: 1;
}

.user-link:active::before {
    opacity: .5;
}

.user-link:active {
    color: rgba(255,255,255,.5);
}

.bookmark-link::before {
    content: '';
    position: absolute;
    top: 12px;
    left: 16px;
    width: 14px;
    height: 16px;
    background-image: url(img/header/icon-bookmark.png);
    background-repeat: no-repeat;
    opacity: .3;
}

.bookmark-link {
    padding-left: 14px;
}

.basked-link::before {
    content: '';
    position: absolute;
    top: 12px;
    left: 14px;
    width: 17px;
    height: 16px;
    background-image: url(img/header/icon-basket.png);
    background-repeat: no-repeat;
    opacity: .3;
}

.basked-link {
    padding-left: 17px;
}

.full-basked {
    background-color: #ee3643;
}

.full-basked:hover {
    background-color: #ca2c37;
}

.full-basked:active {
    background-color: #ba2732;
}

.checkout-link {
    background-color: #63a63e;
}

.checkout-link:hover {
    background-color: #5fbb2d;
}

.checkout-link:active {
    background-color: #518534;
}

.user-navigation {
    background-color: #f1f5f7;
}

.user-submenu > * {
    float: left;
    margin-top: 45px;
}

.user-submenu strong {
    width: 34.04%;
    color: #ee3643;
    font-style: italic;
    font-size: 15px;
    line-height: 23px;
    padding: 0 52px;
    margin-top: 49px;
}

.header-contact {
    width: 28.72%;
}

.header-contact * {
    text-align: center;
    vertical-align: top;
}

.header-contact a {
    position: relative;
    display: inline-block;
    width: 100%;
    border: 3px solid #ffffff;
    font-size: 21px;
    color: #e9292a;
    padding: 8px 0 8px 20px;
}

.header-contact a::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 12px;
    width: 19px;
    height: 19px;
    background-image: url(img/header/icon-phone.png);
    background-repeat: no-repeat;
}

.header-contact p {
    width: 100%;
    font-family: 'Cuprum', Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #32425c;
    margin: 5px 0;
}

.user-nav-control {
    position: relative;
    width: 100%;
}

.user-nav {
    float: right;
    width: 29.79%;
    text-align: center;
    font-size: 0;
}

.user-nav > a,
.user-nav-control > a {
    display: inline-block;
    position: relative;
    background-color: #ffffff;
    font-size: 21px;
    color: #000000;
    width: 42.86%;
    padding: 11px 0;
}

.user-nav > a:first-child {
    margin-right: 10px;
    padding-left: 20px;
}

.user-nav a:last-child {
    width: 53.57%;
}

.user-nav a:hover {
    color: #ee3643;
}

.user-nav a:active {
    color: rgba(0,0,0,.3);
}

.user-nav > a:first-child::before {
    content: '';
    position: absolute;
    top: 14px;
    left: 15px;
    width: 20px;
    height: 17px;
    background-image: url(img/header/icon-login.png);
    background-repeat: no-repeat;
    background-position: -5px -5px;
}

.user-nav > a:first-child:hover::before {
    background-position: -35px -5px;
}

.user-nav > a:first-child:active::before {
    background-position: -5px -5px;
}

.user-nav-login {
    width: 31.92%;
}

.user-nav-login a {
    width: 100%;
    margin: 0;
}

.user-nav-login ul {
    width: 100%;
    font-size: 0;
    font-family: 'Cuprum', Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: left;
}

.user-nav-login ul li {
    position: relative;
    display: inline-block;
    margin: 7px 0;
    padding: 0;
}

.user-nav-login ul li:last-child::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    bottom: 6px;
    left: -2px;
    background-color: #32425c;
    border-radius: 50%;
}

.user-nav-login ul a {
    padding: 7px 12px 0 17px;
    line-height: 18px;
    color: #32425c;
    text-decoration: underline;
}

.user-nav-control a:first-child {
    padding-right: 25px;\
}

.user-nav-control a:first-child::before {
    content: '';
    position: absolute;
    top: 14px;
    left: 15px;
    width: 20px;
    height: 18px;
    background-image: url(img/header/icon-user.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.user-nav-control a:first-child:hover::before {
    background-position: -20px 0;
}

.user-nav-control a:first-child:active::before {
    background-position: 0 0;
}

.go-out {
    position: absolute;
    display: block;
    border: none;
    width: 21px;
    height: 17px;
    top: 14px;
    right: 12px;
    background-color: transparent;
    background-image: url(img/header/icon-logout.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.go-out:hover {
    background-position: -21px 0;
}


.go-out:active {
    background-position: 0 0;
}


nav {
    display: inline-block;
    width: 100%;
    background-color: #32425c;
    margin: 34px 0 60px 0;
    box-shadow: 0 5px #293449;
}

nav ul {
    padding: 0 0 0 22px;
    font-size: 0;
}

nav li {
    float: left;
    font-size: 0;
    margin: 0;
}

nav a {
    display: inline-block;
    color: #ffffff;
    padding: 19px 30px;
    font-size: 17px;
    line-height: 17px;
}

nav a:hover {
    background-color: #293449;
}

nav a:active {
    color: rgba(255,255,255, .5);
    background-color: #1d2739;
    box-shadow: 0 5px #1d2739;
}

/* основное содрежимое */

.main-icon-catalog {
    margin: 59px 0 52px 0;
}

.main-icon-catalog > div {
    float: left;
    position: relative;
    overflow: hidden;
}

.main-icon-catalog > div:nth-child(n+4) {
    margin-top: 20px;
}

.main-icon-catalog > div:not(:nth-child(3n+1)) {
    margin-left: 20px;
}

.container-icon {
    width: 31.91%;
    height: 123px;
}

.container-icon h3 {
    width: 45%;
    margin: 20px 0 13px 22px;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
}

.container-icon a {
    display: inline-block;
    text-align: center;
    padding-top: 11px;
    width: 45%;
    height: 30.89%;
    margin-left: 25px;
    background-color: rgba(0, 0, 0, .1);
    color: #ffffff;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 18px;
    border-radius: 3px;
  }

.container-icon a:hover {
    background-color: rgba(0, 0, 0, .2);
}

.container-icon a:active {
    background-color: rgba(0, 0, 0, .3);
}

.materials {
    background-color: #f6b22d;
}

.materials::before {
    content: url('img/item-catalog/icon-materials.png');
    position: absolute;
    top: 31px;
    right: 43px;
}


.tools {
    background-color: #4aafde;
}

.tools::before {
    content: url('img/item-catalog/icon-tools.png');
    position: absolute;
    top: 31px;
    right: 28px;
}

.mechanism {
    background-color: #cc79d1;
}

.mechanism::before {
    content: url('img/item-catalog/icon-mechanism.png');
    position: absolute;
    top: 31px;
    right: 31px;
}

.discounts {
    background-color: #85d179;
}

.discounts::before {
    content: url('img/item-catalog/icon-discounts.png');
    position: absolute;
    top: 26px;
    right: 45px;
}

.delivery {
    background-color: #f6b22d;
}

.delivery::before {
    content: url('img/item-catalog/icon-delivery.png');
    position: absolute;
    top: 31px;
    right: 31px;
}

.instrument-slider {
    position: relative;
    width: 65.96%;
    height: 266px;
}

.slider-content {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.slide-visible:checked + .slider-container {
    position: static;
    opacity: 100;
}

.slider-container {
    display: inline-block;
    position: absolute;
    opacity: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

input[type="radio"] {
    display: none;
}

.slider-container h4 {
    width: 50%;
    padding: 0;
    margin: 26px 0 0 25px;
    color: #ffffff;
    font-size: 36px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
}
.slider-container p {
    width: 50%;
    padding: 0;
    margin: 4px 0 0 25px;
    color: #ffffff;
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 24px;
}

.slider-container a {
    position: absolute;
    left: 25px;
    bottom: 22px;

}

.perforators {
    background-position: center top;
    background-image: url("img/item-catalog/background-img-perforators.jpg");
    background-repeat: no-repeat;
}

.drills {
    background-position: center top;
    background-image: url("img/item-catalog/background-img-drills.jpg");
    background-repeat: no-repeat;

}

.slider-content .slider-btn {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 28px;
    height: 3px;
    border-radius: 1px;
    cursor: pointer;
}

.slider-content .slider-btn::after {
    content: '';
    position: absolute;
    background-color: #ffffff;
    width: 28px;
    height: 3px;
    border-radius: 1px;
}

.slider-content .left {
    position: absolute;
    left: 23px;
    top: 123px;
    transform: rotate(-45deg);
}

.slider-content .right {
    position: absolute;
    right: 23px;
    top: 123px;
    transform: rotate(45deg);
}

.slider-content .left::after,
.slider-content .right::after {
    content: '';
    position: absolute;
    top: 13px;
    right: 13px;
    transform: rotate(90deg);
}

.slider-content .right::after {
    right: -13px;
}

#drills-switch:checked ~ .slide-drills,
#perforators-switch:checked ~ .slide-perforators
 {
    display: block;
}

.slide-indicator {
    position: absolute;
    left: 295px;
    bottom: 46px;
    z-index: 10;
}

.slide-indicator li:first-child {
    float: left;
    margin-right: 20px;
}

.slide-indicator li:last-child {
    float: right;
}


.dots-slide {
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
}

#drills-switch:checked ~ .slide-drills ~ .slide-indicator li:last-child .dots-slide::before,
#perforators-switch:checked ~ .slide-perforators ~ .slide-indicator li:first-child .dots-slide::before
{
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #ee3643;
    top: 2px;
    left: 2px;
}
.main-popular-product {
    margin-bottom: 20px;
}

.section-title {
    width: 100%;
    height: 90px;
    background-color: #f7f3ec;
}

.section-title h2 {
    float: left;
    padding: 0;
    margin: 31px 0 0 23px;
    font-size: 30px;
    font-weight: normal;
    line-height: 30px;
    text-transform: uppercase;
    color: #32425c;
}

.section-title .btn {
    float: right;
    width: 26.91%;
    margin: 26px 23px;
}

.section-product {
    width: 100%;
}

.section-product article {
    float: left;
    position: relative;
    width: 220px;
    height: 318px;
    border: 1px solid #e5e5e5;
    text-align: center;
    font-size: 0;
    margin-top: 20px;
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    font-weight: bold;
    overflow: hidden;
}

.main-popular-product article:not(:nth-child(4n+1)) {
    margin-left: 20px;
}

.link-product {
    display: none;
    position: absolute;
    width: 100%;
    height: 50%;
    margin: 0;
    background-color: #ffffff;
    top: 0;
    left: 0;
}

.section-product article:hover {
    box-shadow: 0px 10px 25px rgba(29,34,49,.4);
    border: 1px solid transparent;
}

.section-product article:hover .link-product {
    display: block;
    z-index: 20;
}

.link-product a {
    width: 135px;
}

.btn-buy {
    margin-top: 45px;
    background-color: #63a63e;
    font-family: 'Cuprum', Arial, Helvetica, sans-serif;
    border-bottom: 3px solid #367315;
}

.btn-buy:hover {
    background-color: #5fbb2d;
}

.btn-buy:active {
    background-color: #518534;
    border: none;
}

.btn-bookmark {
    margin-top: 7px;
    padding-top: 8px;
    background-color: #ffffff;
    border: 3px solid #63a63e;
    font-family: 'Cuprum', Arial, Helvetica, sans-serif;
    color: #32425c;
}

.btn-bookmark:hover {
    border: 3px solid #32425c;
    background-color: transparent;
}

.btn-bookmark:active {
    opacity: .3;
}

.img-product {
    position: relative;
    width: 100%;
    height: 170px;
    margin: 0;
    background-color: #ffffff;
    top: 0;
    left: 0;
}

.img-product img {
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    height: auto;
    margin: auto;
    z-index: 10;
}

.section-product article h5 {
    padding: 0 10%;
    margin: 8px 0;
    font-size: 18px;
    line-height: 20px
}

.sale {
    display: inline-block;
    height: 32px;
    width: 140px;
    padding-top: 3px;
    background-color: #ffffff;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: line-through;
    color: #999999;
}

.price {
    position: relative;
    width: 140px;
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 18px;
}

.price:hover, .price:active {
    background-color: #ee3643;
}

.price::after {
    content: '';
    position: absolute;
    top: 0;
    right: -19px;
    height: 0;
    width: 0;
    border: 19px solid;
    border-left: 19px solid transparent;
}

.main-popular-manufacturs {
    margin-bottom: 85px;
}

.list-manufacturs {
    width: 100%;
}

.list-manufacturs li {
    float: left;
    position: relative;
    width: 23.4%;
    height: 145px;
    border: 1px solid #e5e5e5;
    margin-top: 20px;
}

.list-manufacturs li:hover {
    box-shadow: 0px 10px 25px rgba(29,34,49,.4);
    border: none;
    top: 3px;
}

.list-manufacturs li:active {
    box-shadow: 0px 4px 10px rgba(29,34,49,.4);
    opacity: .5;
    top: 0;
}

.list-manufacturs li:not(:nth-child(4n+1)) {
    margin-left: 20px;
}

.list-manufacturs li a,
.list-manufacturs li a img {
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    height: auto;
    margin: auto;
}

.main-services {
    background-color: #f2f6f8;
    padding-bottom: 33px;
}

.main-services h2 {
    margin-top: 68px;
}

.main-services p {
    width: 43%;
    margin-top: 5px;
    margin-bottom: 37px;
}

.container-advantages {
    position: relative;
    width: 100%;
    height: 280px;
    font-size: 0;
}

.container-advantages ul {
    float: left;
    width: 25.53%;
    height: 182px;
    margin: 30px 0;
}

.container-advantages ul li {
    position: relative;
    width: 100%;
    height: 61px;
    background-color: #32425c;
    border-top: 1px solid #405069;
    border-bottom: 1px solid #293449;
    color: #ffffff;
    font-family: 'Cuprum', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
}

.container-advantages li label {
    position: absolute;
    padding: 15px 0 0 23px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    height: auto;
    margin: auto;
}

.interactive-section {
    position: relative;
    float: right;
    display: none;
    width: 74.47%;
    height: 242px;
    box-shadow: -23px 0 20px -23px rgba(0, 0, 0, .4);
}

.interactive-section > * {
    margin-left: 80px;
}

.interactive-section h3 {
    color: #32425c;
    font-family: 'Cuprum', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 35px;
    margin-bottom: 32px;
}

.interactive-section p {
    width: 55%;
    margin-bottom: 25px;
    white-space: pre-line;
}

.advantages-delivery::after {
    content: '';
    position: absolute;
    width: 468px;
    height: 261px;
    top: 54px;
    right: 1px;
    background-image: url(img/decor-img-delivery.png);
    background-repeat: no-repeat;
}

.advantages-guarantee::after {
    content: '';
    position: absolute;
    width: 389px;
    height: 283px;
    top: 31px;
    right: -7px;
    background-image: url(img/decor-img-guarantee.png);
    background-repeat: no-repeat;
}

.advantages-credit::after {
    content: '';
    position: absolute;
    width: 465px;
    height: 285px;
    top: 27px;
    right: -6px;
    background-image: url(img/decor-img-credit.png);
    background-repeat: no-repeat;
}


.container-advantages #delivery-switch:checked ~ .advantages-delivery,
.container-advantages #guarantee-switch:checked ~ .advantages-guarantee,
.container-advantages #credit-switch:checked ~ .advantages-credit
{   display: block;
}

.container-advantages #delivery-switch:checked ~ ul li:first-child,
.container-advantages #guarantee-switch:checked ~ ul li:nth-child(2),
.container-advantages #credit-switch:checked ~ ul li:last-child
{   background-color: #ffffff;
    border: 0;
    color: #32425c;
}

.container-advantages ul li:hover {
    background-color: #293449;
}

.main-info-company {
    float: left;
    width: 56%;
    margin-top: 56px;
    margin-bottom: 70px;
}

.main-contact {
    float: right;
    width: 31.91%;
    margin-top: 56px;
    margin-bottom: 70px;
}

.main-info-and-contact h2 {
    margin-top: 27px;
    margin-bottom: 6px;
}

.main-info-and-contact p {
    margin-top: 25px;
    margin-bottom: 20px;
}

.main-info-company p + p {
    width: 390px;
}

.list-company-delivery li::before {
    content: '';
    position: absolute;
    background-color: #ee3643;
    width: 25px;
    height: 2px;
    top: 50%;
    left: 0;
    margin-top: -1px;
}

.list-company-delivery li {
    position: relative;
    font-size: 18px;
    line-height: 20px;
    padding-left: 36px;
    margin-bottom: 20px;
}

.main-info-company .btn {
    width: 220px;
    margin: 15px 0;
}

.main-contact p {
    width: 185px;
    margin-bottom: 31px;
}

.main-contact .btn {
    width: 100%;
}

.map {
    display: inline-block;
    background-image: url(img/modal/img-map-popap.jpg);
    background-position: right 265px;
    width: 300px;
    height: 158px;
    margin-bottom: 39px;
    border: none;
    padding: 0;
}

.main-content-navigation {
    margin: 22px 0 16px;
    font-size: 0;
}

.main-content-navigation li {
    display: inline-block;
    position: relative;
    margin-right: 4px;
    font-size: 13px;
}

.main-content-navigation a {
    position: relative;
    padding: 0 19px;
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    line-height: 18px;
    text-transform: uppercase;
}

.main-content-navigation li:first-child a {
    padding-left: 0;
    font-size: 0;
    margin-right: 12px;
}

.main-content-navigation li:first-child a:before {
    content: '';
    position: absolute;
    width: 15px;
    height: 12px;
    bottom: 0;
    left: 0;
    background-image: url(img/icon-home.png);
    background-repeat: no-repeat;
}

.main-content-navigation li:not(:first-child) a:before {
    content: '';
    position: absolute;
    width: 8px;
    height: 1px;
    top: 5px;
    left: -6px;
    background-color: #c1c6ce;
    transform: rotate(45deg);
}

.main-content-navigation li:not(:first-child) a:after {
    content: '';
    position: absolute;
    width: 8px;
    height: 1px;
    bottom: 6px;
    left: -6px;
    background-color: #c1c6ce;
    transform: rotate(-45deg);
}

.page-title {
    margin-top: 0;
    padding: 30px 27px;
    font-family: 'Cuprum', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    color: #32425c;
    text-transform: uppercase;
    background-color: #f2f6f8;
}

.filters {
    float: left;
    width: 23.4%;
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
}

.list-product {
    float: right;
    width: 74.5%;
}

.content-container .section-title {
    height: 38px;
    border-radius: 3px;
}

.content-container .section-title h2 {
    width: 240px;
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
}

.content-container .section-title > * {
    margin: 0;
    padding-left: 18px;
    padding-top: 9px;
}

.sorting {
    font-size: 0;
    padding-top: 7px;
}

.sorting li {
    display: inline-block;
    margin-right: 15px;
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
}

.sorting li:first-child {
    margin-right: 70px;
}

.sorting li:nth-child(2) {
    margin-right: 65px;
}

.sorting li:nth-child(3) {
    margin-right: 45px;
}

.sorting li:last-child {
     margin-right: 0;
}

.sorting a {
    color: rgba(0,0,0,.3);
    border-bottom: 1px dotted #ee3643;
}

.sorting a:hover {
    color: rgba(0,0,0,1);
    border-bottom: 1px solid #ee3643;
}

.sorting a:active {
    color: #ee3643;
    border-bottom: none;
}

.sorting .arrows,
.sorting .arrows:hover {
    border-bottom: none;
    font-size: 15px;
}

.sorting .active,
.sorting .active:hover {
    color: #ee3643;
    border-bottom: none;
}

.list-product article:not(:nth-child(3n+1)) {
    margin-left: 20px;
}

.filters h3 {
    margin: 9px 0 14px;;
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
}

.container-filter-prise {
    margin-bottom: 25px;
}

.range {
    width: 100%;
    margin-bottom: 10px;
    padding: 39px 20px;
    background-color: #f7f3ec;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.range-line {
    height: 2px;
    background-color: #d7dcde;
}

.range-line-active {
    position: relative;
    height: 2px;
    background-color: #00ca74;
    width: 100%;
    z-index: 10;
}

.range-line-btn {
    position: absolute;
    top: -1px;
    width: 4px;
    height: 4px;
    border: none;
    padding: 0;
    background-color: #ababab;
    border-radius: 50%;
}

.range-line-btn:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    left: 1px;
    top: 1px;
    margin-left: -9px;
    margin-top: -9px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0 3px 3px -1px rgba(0,0,0,.3);
    z-index: -10;
}

.range-line-btn:first-child {
    left: 0;
}

.range-line-btn:last-child {
    right: 0;
}

.meanings input {
    width: 95px;
    height: 38px;
    border: 0;
    border-radius: 3px;
    text-align: center;
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 17px;
    line-height: 18px;
    background: #f7f3ec;
}

.meanings input::-webkit-outer-spin-button,
.meanings input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.meanings span {
    position: relative;
    top: -3px;
    padding: 0 6px;
    font-size: 8px;
    line-height: 18px;
    text-transform: uppercase;
    color: #444444;
}

.container-filter {
    border-top: 1px solid #e5e5e5;
    margin-bottom: 22px;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
}

.container-filter h3 {
    margin: 16px 0 14px;
}

.container-filter input {
    display: none;
}

.container-filter li {
    position: relative;
    margin: 0 0 20px;
}

.container-filter label {
    padding-left: 35px;
}

.filter-manufacturers label::before {
    content: '';
    position: absolute;
    top: -2px;
    left: 0;
    width: 23px;
    height: 23px;
    background-image: url(img/icon-checkbox-on-and-off.png);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.filter-manufacturers input:checked ~ label::before {
    width: 27px;
    height: 23px;
    background-position: -23px 0;
}

.filter-supply label::before {
    content: '';
    position: absolute;
    top: -3px;
    left: 0;
    width: 25px;
    height: 25px;
    background-image: url(img/icon-radio-on-and-off.png);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.filter-supply input:checked ~ label::before {
    width: 25px;
    height: 25px;
    background-position: -25px 0;
}

.container-filter label::before {
    opacity: .8;
}

.container-filter label:hover::before {
    opacity: 1;
}

.container-filter label.blocked {
    opacity: .4;
}

.container-filter label.blocked::before {
    opacity: .3;
}

.btn-white {
    width: 140px;
    height: 38px;
    margin-top: 57px;
    border: 1px solid #e5e5e5;
    background-color: transparent;
    color: #000000;
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.btn-white:hover {
    border: 1px solid #bdc6ca;
    background-color: transparent;
}

.btn-white:active {
    border: 1px solid #ee3643;
    background-color: transparent;
}

.page-nav {
    margin-top: 50px;
    margin-bottom: 60px;
}

.page-nav .btn {
    margin: 0;
}

.page-nav .btn-active,
.page-nav .btn-active:hover,
.page-nav .btn-active:active {
    background-color: #ee3643;
    border: none;
}

.page-nav .btn:not(:last-child) {
    width: 38px;
    margin-right: 6px;
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.intro {
    padding-top: 42px;
    padding-bottom: 62px;
    background-color: #f2f6f8;
}

.intro p {
    margin: 5px 0;
}

/* футер страницы */

.main-footer {
    background-color: #32425c;
    color: #ffffff;
}

.main-footer a {
    color: inherit;
    font-size: inherit;
    font-style: inherit;
}

.footer-navigation {
    margin-bottom: 50px;
}

.footer-logo {
    float: left;
    width: 35.11%;
    font-size: 18px;
    line-height: 24px;
}

.footer-logo .logo {
    width: 220px;
    height: 63px;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    padding-top: 18px;
}

.footer-logo address {
    font-style: normal;
    margin-top: 33px;
}

.footer-link-navigation {
    float: right;
    width: 58.51%;
}

.footer-link-navigation > * {
    display: inline-block;
    text-align: right;
    width: 100%;
    font-size: 0;
}

.footer-link-navigation li {
    position: relative;
    display: inline-block;
}

.footer-link-navigation li:not(:last-child) {
    margin-right: 59px;
}

.footer-link-navigation a {
    display: inline-block;
    text-align: center;
    height: 40px;
    font-size: 18px;
    padding: 11px 0;
}

.footer-link-navigation a:hover {
    text-decoration: underline;
}

.footer-link-navigation a:active {
    text-decoration: none;
    opacity: .5;
}

.footer-navigatoin-helpful {
    margin-top: 30px;
}

.footer-navigatoin-catalog {
    margin-top: 17px;
    color: #ffd180;
}

.footer-copyright {
    background-color: #293449;
    padding: 36px 0 31px 0;
}

.footer-copyright div > a {
    font-size: 16px;
    line-height: 18px;
    color: #ffd180;
}

.footer-copyright div > a:hover {
    text-decoration: underline;
}

.footer-copyright div > a:active {
    color: #ee3643;
}

.footer-copyright p {
    margin: 0;
    font-family: 'Cuprum', Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 18px;
}

.copyright {
    float: left;
    width: 41%;
}

.social {
    float: left;
    width: 27%;
    font-size: 0;
}

.social .social-item {
    display: inline-block;
    text-align: left;
    width: 40px;
    height: 40px;
    margin-left: 5px;
}

.social .btn-social {
    display: inline-block;
    position: relative;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #212a3a;
}

.social .btn-social:hover {
    background-color: #ee3646;
}

.social .btn-social:hover {
    background-color: #ee3646;
}

.social .btn-social::before {
    content: '';
    position: absolute;
    display: inline-block;
}

.social-item-vk::before {
    background-image: url('img/social/sprite-icon-social.png');
    background-repeat: no-repeat;
    top: 16px;
    left: 10px;
    width: 20px;
    height: 12px;
    background-position: -25px -32px;
}

.social-item-fb::before {
    background-image: url('img/social/sprite-icon-social.png');
    background-repeat: no-repeat;
    top: 11px;
    left: 16px;
    width: 10px;
    height: 18px;
    background-position: -5px -5px;
}

.social-item-ig::before {
    background-image: url('img/social/sprite-icon-social.png');
    background-repeat: no-repeat;
    top: 12px;
    left: 12px;
    width: 17px;
    height: 17px;
    background-position: -25px -5px;
}


.development-mail {
    float: left;
    width: 20%;
}

.development {
    float: left;
    width: 12%;
}

/* модалки */

.modal-control {
    position: relative;
    background-color: #ffffff;
    box-shadow: 0px 30px 30px rgba(29,34,49,.4);
}

.modal-write {
    width: 620px;
    height: 430px;
}

.modal-write > * {
    width: 100%;
}

.modal-container {
    width: 460px;
    margin: 0 auto;
}

.modal-header {
    box-shadow: inset 0 5px #ee3643;
    height: 50px;
    text-align: right;
    font-size: 0;
    margin-bottom: 5px;
}

.btn-close {
    position: absolute;
    width: 26px;
    height: 4px;
    border: none;
    border-radius: 1px;
    transform: rotate(45deg);
    background-color: #ee3643;
    top: 27px;
    right: 7px;
    cursor: pointer;
}

.btn-close::before {
    content: '';
    position: absolute;
    width: 26px;
    height: 4px;
    transform: rotate(90deg);
    background-color: #ee3643;
    top: 0;
    left: 0;
}

.btn-close::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: transparent;
    top: -8px;
    left: 3px;
    transform: rotate(45deg);
}

.container-name-user {
    float: left;
    width: 47%;
}

.container-email-user {
    float: right;
    width: 47%;
}

.text-mail-container {
    width: 100%;
}

.modal-container label {
    font-family: 'Cuprum', Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 18px;
    color: #000000;
}

.modal-container input {
    width: 100%;
    height: 34px;
    margin-top: 9px;
    border: 2px solid #d7dcde;
    border-radius: 3px;
    padding-left: 12px;
    padding-bottom: 1px;
}

.modal-container input::-webkit-input-placeholder {
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    color: #999999;
    font-size: 13px;
}

.user-data {
    margin-bottom: 20px;
}

.modal-container textarea {
    width: 100%;
    max-width: 100%;
    height: 115px;
    margin-top: 9px;
    border: 2px solid #d7dcde;
    border-radius: 3px;
    padding: 7px 12px;
}

.text-mail-container {
    margin-bottom: 37px;
}

.modal-container textarea::-webkit-input-placeholder {
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    color: #999999;
    font-size: 13px;
    line-height: 18px;
}

.modal-footer {
    background-color: #f1f1f1;
}

.modal-container .btn {
    width: 100%;
    margin: 37px 0;
}

.modal-map {
  position: relative;
  width: 940px;
  height: 446px;
  font-size: 0;
  box-shadow: 0px 0px 10px rgba(29,34,49,.4);
}

.modal-map .btn-close {
    top: 20px;
    right: 7px;
}

.modal-cart-add {
    width: 622px;
    height: 282px;
}

.modal-cart-add .modal-cart-contant{
    height: 115px;
}

.cart-add {
    display: inline-block;
    position: relative;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: #63a63e;
}

.cart-add::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 7px;
    top: 37px;
    left: 15px;
    border-radius: 1px;
    transform: rotate(45deg);
    background-color: #ffffff;
}

.cart-add::after {
    content: '';
    position: absolute;
    width: 35px;
    height: 7px;
    top: 31px;
    left: 22px;
    border-radius: 1px;
    transform: rotate(-45deg);
    background-color: #ffffff;
}


.modal-cart-add p {
    display: inline-block;
    font-family: 'Cuprum', Arial, Helvetica, sans-serif;
    font-size: 30px;
    line-height: 18px;
    color: #000000;
    vertical-align: top;
    margin: 25px 30px;
}

.modal-cart-add .btn {
    width: 220px;
}

.modal-cart-add .btn-white {
    background-color: #ffffff;
    border: none;
    margin-left: 16px;
}