/* общие стили */

@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans Narrow'), local('PTSans-Narrow'),
       url('fonts/web/ptsansnarrow.woff2') format('woff2'),
       url('fonts/web/ptsansnarrow.woff') format('woff');
}

@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Narrow Bold'), local('PTSans-NarrowBold'),
       url('fonts/web/ptsansnarrowbold.woff2') format('woff2'),
       url('fonts/web/ptsansnarrowbold.woff') format('woff');
}

html {
	box-sizing: border-box;
	font-family: 'PT Sans Narrow', Arial, Helvetica, sans-serif;
	font-weight: 700;
}

*, *::before, *::after {
	box-sizing: inherit;
}

.clearfix::after {
    display: block;
    content: "";
    clear: both;
}

body {
	margin: 0;
	background-color: #141414;
	background-position: center top;
	background-image: url("img/background.jpg");
	background-repeat: no-repeat;
	text-transform: uppercase;
}

.container {
	width: 960px;
	margin: 0 auto;
}

.visually-hidden {
	display: none;
}

.list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

a {
	text-decoration: none;
}

.btn-gray {
	width: 110px;
	padding: 16px 20px;
	border: 0;
	background-color: #e5e5e5;
}

.btn {
	padding: 16px 18px;
	border: 0;
	background-color: #000;
	color: #FFF;
}

/* временные стили */

body > * {
	outline: 3px dotted red;
}

body > * > * {
	outline: 3px dotted green;
}

body > * > * > * {
	outline: 3px dotted blue;
}

/* хедер страницы */

.main-header {
	min-width: 960px;
	background-color: #000000;
	color: #FFFFFF;
	font-size: 16px;
}

.main-header a {
	color: #FFFFFF;
	display: inline-block;
	padding: 27px 0;
	margin-left: 20px;
	margin-right: 20px;
}

.main-header ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.main-header-inner {

}

.main-navigation {
	float: left;
}

.main-navigation li {
	float: left;
}

.user-nav {
	float: right;
}

.page-logo {
	height: 72px;
}

.page-logo img {
	display: block;
}


/* основное содрежимое */

.main-content {
	min-width: 960px;
	padding-bottom: 20px;
	font-size: 14px;
}

/* мое */
.main-content-container {
	min-width: 960px;
	background-color: #f9f6f3;
	background-image: url("img/pattern-background.jpg");
	background-repeat: repeat;
	font-size: 14px;
}

.main-page-title {
	text-align: center;
	margin: 0;
	padding: 60px 0 70px;
}

/* мое */
.page-title {
	text-align: left;
	font-size: 30px;
	margin: 0;
	padding: 60px 0 15px;
}

.advantages {
	color: #FFFFFF;
	text-align: center;
}

.advantages ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.advantages li {
	float: left;
	width: 33.33%;
	padding-left: 22px;
	padding-right: 22px;
}

.main-content-navigation {
	margin: 0;
	padding: 15px 0 60px;
	list-style-type: none;
}

.main-content-navigation li {
	display: inline-block;
	margin: 0 15px 0;
}

.main-content-navigation li:first-child {
	margin-left: 0;
}

.main-section-wrapper {
	background-color: #fff;
	padding: 40px 20px 20px;
	margin-bottom: 40px;
}

.main-section {
	float: left;
	width: 45%;
	margin-right: 10%;
}

.main-section:last-child {
	margin-right: 0;
}

/* мое */
.section-photos {
	float: left;
	margin: 0;
	padding: 0;
}

figure {
	margin: 0;
	padding: 0;
}

figure img {
	display: block;
}

.more-photos a {
	float: left;
	padding: 20px 20px 50px 0;
}

.more-photos a:nth-child(3n) {
	padding-right: 0;
}

.section-specification {
	float: right;
	width: 45%;
	margin: 0;
	padding: 0;
}

.product-information {
	margin-top: 25px;
	margin-bottom: 21px;
}

.availability {
	float: left;
}

.article {
	float: right;
}

.section-specification p {
	margin: 21px 0 21px;
	padding: 21px 0 21px;
}

.product-price-and-buy {
	margin-bottom: 68px;
}

.product-price-and-buy > * {
	float:left;
}

.topic-content {
	margin-bottom: 41px;
	padding: 0;
	font-size: 24px;
}

.kit li {
	margin-left: 10px;
}

.tagline-page {
	margin-bottom: 32px;
	text-align: center;
}

.tagline-page strong{
	font-size: 48px;
}

.section-facilities {
	width: 45%;
	float: left;
}

.facilities li {
	margin-left: 10px;
	margin-bottom: 27px;
}

.section-price {
	width: 45%;
	float: right;
}

.section-price h2 {
	width: 60%;
}

.price {
	border: 2px solid #000;
	border-collapse: collapse;
}

.price td {
	width: 227px;
	height: 39px;
	border: 2px solid #000;
	border-collapse: collapse;
	text-align: center;
	vertical-align: middle;
}

.price tr td:first-child {
	padding-left: 17px;
	text-align: left;
}

.intro {
	text-align: left;
}

.intro p {
	width: 380px;
	height: 82px;
	margin-bottom: 84px;
}

.intro p:first-child {
	float: left;
}

.intro p:last-child {
	float: right;
	width: 45%;
}

.section-filter {
	width: 20%;
	float: left;
}

.section-filter li {
	margin-bottom: 27px;
}

.section-filter .btn {
	margin-top: 30px;
	text-transform: uppercase;
	font-family: inherit;
}

.list-products {
	width: 700px;
	float: right;
}

.section-product article {
	width: 220px;
	height: 286px;
	float: left;
	background-color: #FFF;
	padding: 0;
}

.section-product img {
	display: block;
}

.section-product article:nth-child(n+4) {
	margin-top: 20px;
}

.section-product article:not(:nth-child(3n)) {
	margin-right: 20px;
}

.section-product h3 {
	height: 30px;
	text-transform: none;
	margin: 16px;
	line-height: 18px;
}

.section-product .product-price {
	margin: 16px;
}

.product-price > * {
	float: left;
}

.page-nav {
	margin-top: 45px;
	margin-bottom: 47px;
}

.page-nav li{
	display: inline-block;
	margin-right: 7px;
}

.page-nav li .btn-white {
	color: #000;
	background-color: #FFF;
}

/* футер страницы */

.main-footer {
	min-width: 960px;
	background-color: #222222;
	background-image: url("img/pattern.jpg");
	background-repeat: repeat;
	color: #FFF;
	padding-top: 60px;
	padding-bottom: 40px;
}

.footer-contacts {
	float: left;
	width: 320px;
	margin-right: 90px;
}

.footer-social {
	float: left;
}

.footer-copyright {
	float: right;
}